a{
    color: #000000;
    text-decoration: none;
}

body {
    margin: 0;
    background: aliceblue;
}

.header {
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header_inner {
    display:flex;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    background: #FFF;
    color: #000000;

}

.header_section {
    display: flex;
    align-items: center;
}

.imglogo {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}




